<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equips</title>
</head>
<body>
<h2>Creació d'equips</h2>

document.getElementById('sandy')

<form action="@{Application.newEquips}" method="GET">
    <label for="name">Nom i Cognoms:</label><br>
    <input type="text" id="name" name="name" size="20"><br><br>    <!--size predeterminado = 20 caracteres-->
    <label for="edat">Edat:</label><br>
    <input type="number" id="edat" name="edat"><br><br>
    <label for="dni">DNI:</label><br>
    <input type="text" id="dni" name="dni"><br><br>
    <input type="submit" value="Registrar-se">
</form>

#{if flash.error}
<div class="alert alert-danger alert-dismissible fade show center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    ${flash.error}
</div>
#{/if}

#{if flash.success}
<div class="alert alert-danger alert-dismissible fade show center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    ${flash.success}
</div>
#{/if}

</body>
</html>