<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equips</title>
</head>
<body>
<h2>Creació d'equips</h2>
<form action="/action_page.php">
    <label for="name">Nom i Cognoms:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="edat">Edat:</label><br>
    <input type="text" id="edat" name="edat"><br><br>
    <input type="submit" value="Registrar-se">
</form>

<p>Note that the form itself is not visible.</p>
<p>Also note that the default width of a text field is 20 characters.</p>


</body>
</html>